DATABASE_URL=
FPX_ENDPOINT=

BETTER_AUTH_SECRET=
## TRUSTED_ORIGINS is a comma-separated list of origins that are allowed to make requests to the API.
TRUSTED_ORIGINS=
UPLOADTHING_TOKEN=
ENVIRONMENT=development
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_VERSION=
AZURE_OPENAI_API_INSTANCE_NAME=
AZURE_OPENAI_DEPLOYMENT=
AZURE_OPENAI_EMBEDDINGS_DEPLOYMENT=